<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

    <th:block th:if="${session.isEmpty()}">
        <a class="nav-link text-white active h5" href="/">SportShop App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav row">
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" href="/users/login">Login</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" href="/users/register">Register</a>
                </li>
            </ul>
        </div>
    </th:block>

    <th:block th:unless="${session.isEmpty()}">
      <div th:object="${session.user}" class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
          <ul class="navbar-nav row">
          <li>
              <a class="nav-link text-white active h5" href="/home">Home</a>
          </li>
          <li>
              <a class="nav-link text-white active h5" href="/products/men">Man Clothes</a>
          </li>
          <li>
              <a class="nav-link text-white active h5" href="/products/women">Women Clothes</a>
          </li>
          <li>
              <a class="nav-link text-white active h5" href="/products/kids">Kids clothes</a>
          </li>
              <li>
                  <a class="nav-link text-white active h5" href="/products/other">Other clothes</a>
              </li>
              <li>
                  <a class="nav-link text-white active h5" href="/products/add">Add Product</a>
              </li>

          <li>
              <div class="dropdown">
                  <button class="dropbtn">Products
                      <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                      <a href="/products/men">Men</a>
                      <a href="/products/women">Women</a>
                      <a href="/products/kids">Kids</a>
                      <a href="/products/other">Other</a>
                  </div>
              </div>
          </li>
          <li>
              <a  class="nav-link text-white active h5" href="/products/add">Admin</a>
          </li>
              <li>
                  <a class="nav-link text-white active h5" href="/users/profile">Profile</a>
              </li>
              <li>
                  <a class="nav-link text-white active h5" href="/roles/add">Roles</a>
              </li>
          <li>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
          </li>
              <li>
                  <a class="nav-link text-white active h5" href="/cart/cart">Cart</a>
              </li>

</ul>
      </div>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav row">
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" href="/users/logout">Logout</a>
                </li>
            </ul>
        </div>

    </div>


</th:block>
</th:block>