.w-15 {
    width: 15%;
}

.bg-gray {
    background-color: #e9ecef;
}

body {
    background-image: url(/img/background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
	margin-bottom: 5rem;
}

textarea {
    resize: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.img-thumb {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
}

.bg-blur {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    z-index: 2;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.error-color{
    text: red;
}


 body {
     font-family: Arial, Helvetica, sans-serif;
 }

/*header {*/
/*    width: 100%;*/
/*    height: auto;*/
/*    background: #FFFFFF;*/
/*    margin-bottom: 2%;*/
/*}*/

.navbar {

    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;

    position: relative;
    display: inline-block;
    text-align: left;
    width: 132px;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    /*padding: 14px 16px;*/
    display:block;padding:.5rem 1rem;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown-content {
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    list-style-type: none;
    position: absolute;
    top: 32px;
    padding: 0;
    margin: 0;
    opacity: 0;
    visibility:hidden;
    border-radius: 3px;
    text-indent: 10px;
    line-height: 24px;
    background-color: #eee;
    border: 1px solid #ccc;
    width: 120px;
}

.dropdown-content a {
    float: left;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    text-align: center;

}

.dropdown-content a:hover {
    background-color: #c82333;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    visibility:visible;
    top: 42px;
}
